/.phpunit.cache
/.phpunit.result.cache
/.env
/.tools
/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/private
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs
/bootstrap/cache/*.php
/bootstrap/cache/*.tmp
/composer.phar
/composer-setup.php
/_debug*.php
/.codex-temp-*.php
npm-debug.log
yarn-error.log
